#csv-table-scroll {
	height:250px;
	overflow:auto;
	margin-top:20px;
	width:12%;
	}
#csv-table-wrapper table {
	width:90%;
	border-collapse: collapse;
	}
td, th {
	padding: 3px;
	border: 1px solid #000;
	text-align: center;
	}
th {
	color: #333;
	}
#th-csv-table {
	font-size: 12pt;
	background: #f0f3f4;
	}
.csv-row:hover {
	background: #d6e3fc;
	}
.csv-row:active {
	background: #c094c4;
	}
