<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script type="text/javascript" src="http://highcharts.github.io/export-csv/export-csv.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='thermal_chamber.css') }}">

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // socket.on('connect', function() {
			//	socket.emit('my_event', {data: 'I\'m connected!!!!'});
            // });

            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val().split(" ")});
                return false;
            });
            
            var chart_data = [];
			var main_data = [[],[]];
            var options = {
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'line',
					animation: false,
                    events: {
                        load: function () {
							for (i = 0; i < 2; i++) {
								for (j = 0; j < 7; j++) {	
                            		main_data[i][j] = this.series[j+i*7];
								}
							}
                            socket.on('my_response', function (msg) {
                                var x = (new Date()).getTime()
                                // console.log(x, new Date())
                                if ($.isNumeric(msg.data[0][0])) {
									for (i = 0; i < 2; i++) {
                                		for (j = 0; j < 7; j++) {   
                                    		main_data[i][j].addPoint([x, msg.data[i][j]], true, false);
                                		}
                            		}
                                }
                                // $('#log').append('<br>'+$('<div/>').text('Received #'+msg.count+': '+msg.data).html());
                            });
                        }
                    }

                },
                title: {
                    text: 'Data'
                },

				rangeSelector: {
                    buttons: [
                        { count: 1, type: 'minute', text: '1m' }, 
                        { count: 5, type: 'minute', text: '5m' },
						{ count: 15, type: 'minute', text: '15m' }, 
                        { type: 'all', text: 'All' }],
                    inputEnabled: false,
                    selected: 0
                },

                navigator: {
                    series: { includeInCSVExport: false }
                },
                exporting: {
                    csv: { dateFormat: '%d.%m.%Y %H:%M:%S' }
                },

                xAxis: {
                    type: 'datetime',
                    labels: {
                        formatter: function() {
                            return Highcharts.dateFormat('%H:%M:%S', this.value);
                        }
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: [
					{ title: { text: 'Temperature, C' }}, 
					{ title: { text: 'DAC value' }}
				],
                series: [
					{ name: 'Cham0 temp0 mean', data: []},
					{ name: 'Cham0 temp0', data: [], visible: false},
					{ name: 'Cham0 temp1', data: [], visible: false},
					{ name: 'Cham0 ambient temp', data: [], visible: false},
					{ name: 'Cham0 target temp', data: [], dashStyle: 'longdash', visible: false},
                    { name: 'Cham0 temp error', data: [], visible: false},
					{ name: 'Cham0 DAC value', yAxis: 1, data: [], visible: false},

                    { name: 'Cham1 temp1 mean', data: []},
                    { name: 'Cham1 temp0', data: [], visible: false},
                    { name: 'Cham1 temp1', data: [], visible: false},
                    { name: 'Cham1 ambient temp', data: [], visible: false},
                    { name: 'Cham1 target temp', data: [], dashStyle: 'longdash', visible: false},
                    { name: 'Cham1 temp error', data: [], visible: false},
                    { name: 'Cham1 DAC value', yAxis: 1, data: [], visible: false}

				]
            };

            // var loading = $.get("/static/data0.csv", function(data) {
            //    var lines = data.split('\n').slice(0,-1);
                // console.log(lines.slice(0,-1));
            //    $.each(lines, function(lineNo, line) {
            //        var items = line.split(',');
            //        var dateAndTime = items[0].split(' ');
            //        var dateParts = dateAndTime[0].split('.');    
            //        var timeParts = dateAndTime[1].split(':');
            //        var date_parsed = Date.UTC(parseInt(dateParts[2]), parseInt(dateParts[1]) - 1, parseInt(dateParts[0]), parseInt(timeParts[0]), parseInt(timeParts[1]));
                    // console.log(date_parsed) //
            //        chart_data.push([date_parsed,parseInt(items[1])]);
            //    })
                // console.log(chart_data)
            var chart = new Highcharts.stockChart(options);
            // });

            // Highcharts.setOptions({ global: { useUTC: false } });

			//$('.csv-row').click(function() {
			//	var chart = $('#container').highcharts(), series = chart.series[0];
        	//	chart.series[0].setData([]);
			//	var loading = $.get('/static/'+$(this).find('td').text(), function(data) {
            //    	var lines = data.split('\n').slice(0,-1);
                	// console.log(lines.slice(0,-1));
            //    	$.each(lines, function(lineNo, line) {
            //        	var items = line.split(',');
            //        	var dateAndTime = items[0].split(' ');
            //        	var dateParts = dateAndTime[0].split('.');    
            //        	var timeParts = dateAndTime[1].split(':');
            //        	var date_parsed = Date.UTC(parseInt(dateParts[2]), parseInt(dateParts[1]) - 1, parseInt(dateParts[0]), parseInt(timeParts[0]), parseInt(timeParts[1]));
			//			chart.series[0].addPoint([date_parsed,parseInt(items[1])], true, false);
            //    	})
            //	});
    		//});

			$('.checkbox').click(function () {
				var i = parseInt(this.name);
    			var series = chart.series[i];
    			if (series.visible) {
        			series.hide();
    			} else {
        			series.show();
    			}
			});
        });

    </script>
</head>
<body>

	<div id="container" style="height: 800px; width: 1600px"></div>
	<br>
   
	<table>
		<tbody>
			<tr><th colspan="8">Lines visibility</th></tr>
				<tr>
					<td>Chamber0</td>
					<td><input type="checkbox" name="0" class="checkbox" checked>temp0 mean </td>
					<td><input type="checkbox" name="1" class="checkbox">temp00 </td>
					<td><input type="checkbox" name="2" class="checkbox">temp01 </td>
                    <td><input type="checkbox" name="3" class="checkbox">ambient temp </td>
                    <td><input type="checkbox" name="4" class="checkbox">target temp </td>
                    <td><input type="checkbox" name="5" class="checkbox">temp error</td>
                    <td><input type="checkbox" name="6" class="checkbox">DAC value </td>
				</tr>
				<tr>
					<td>Chamber1</td>
                    <td><input type="checkbox" name="7" class="checkbox" checked>temp1 mean </td>
                    <td><input type="checkbox" name="8" class="checkbox">temp10 </td>
                    <td><input type="checkbox" name="9" class="checkbox">temp11 </td>
                    <td><input type="checkbox" name="10" class="checkbox">ambient temp </td>
                    <td><input type="checkbox" name="11" class="checkbox">target temp </td>
                    <td><input type="checkbox" name="12" class="checkbox">temp error</td>
                    <td><input type="checkbox" name="13" class="checkbox">DAC value </td>
				</th>
		</tbody>
	</table> 
	<br>	

    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_temp_data" id="emit_data" placeholder="Example: temp0 28.0">
        <input type="submit" value="Set temperature">
	</form>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_dac_data" id="emit_data" placeholder="Example: dac1 5000">
        <input type="submit" value="Set DAC value">
    </form>
	<br>
	<br>

	<!-- <p>Async mode is: <b>{{ async_mode }}</b></p> -->
	<p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <br>

	<!--<input type="text" name="csv_file" id="csv_file" placeholder="csv_file">
	<input type="button" id="add_chart" value="add chart"/>-->

	<!--
    <div id="csv-table-wrapper">
        <div id="csv-table-scroll">
            <table id="csv-table">
                <tbody id="csv-table-tbody">
                    <tr><th id="th-csv-table">Load file</th></tr>
                    {% for n in list_of_csv %}
                    <tr class="csv-row"><td>{{n}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	
	<h2>Received:</h2>
    <div id="log"></div>
	-->

</body>
</html>
