<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script type="text/javascript" src="http://highcharts.github.io/export-csv/export-csv.js"></script>

    <style>
        #csv-table-scroll, #schedule-table-scroll {
            height:150px;
            overflow:auto;  
            margin-top:20px;
            width:12%;
        }
		#schedule-table-scroll {
			height:150px;
            overflow:auto;
            margin-top:20px;
            width:20%;
		}
        #csv-table-wrapper table, #schedule-table-wrapper table  {
            width:90%;
            border-collapse: collapse;
        }
        td, th {
            padding: 3px; 
            border: 1px solid #000; 
        }
        th {
            color: #333; 
        }
        #th-csv-table, #th-schedule-table{
            font-size: 12pt;
            background: #f0f3f4;
        }
        #csv-row:hover, #schedule-row:hover {
            background: #d6e3fc;
        }
    </style>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
				socket.emit('my_event', {data: 'I\'m connected!!!!'});
            });

            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            
            var chart_data = [];
            var options = {
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'line',
                    events: {
                        load: function () {
                            var series = this.series[0];
                            socket.on('my_response', function (msg) {
                                var x = (new Date()).getTime()
                                // console.log(x, new Date())
                                if ($.isNumeric(msg.data)) {
                                    series.addPoint([x, msg.data], true, false);
                                }
                                $('#log').append('<br>'+$('<div/>').text('Received #'+msg.count+': '+msg.data).html());
                            });
                        }
                    }

                },
                title: {
                    text: 'Random data'
                },

				rangeSelector: {
                    buttons: [
                        { count: 1, type: 'minute', text: '1M' }, 
                        { count: 5, type: 'minute', text: '5M' }, 
                        { type: 'all', text: 'All' }],
                    inputEnabled: false,
                    selected: 0
                },

                navigator: {
                    series: { includeInCSVExport: false }
                },
                exporting: {
                    csv: { dateFormat: '%d.%m.%Y %H:%M:%S' }
                },

                xAxis: {
                    type: 'datetime',
                    labels: {
                        formatter: function() {
                            return Highcharts.dateFormat('%H:%M:%S', this.value);
                        }
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'value'
                    }
                },
                series: [{
                    data: chart_data
                }]
            };

            var loading = $.get("/static/data0.csv", function(data) {
                var lines = data.split('\n').slice(0,-1);
                // console.log(lines.slice(0,-1));
                $.each(lines, function(lineNo, line) {
                    var items = line.split(',');
                    var dateAndTime = items[0].split(' ');
                    var dateParts = dateAndTime[0].split('.');    
                    var timeParts = dateAndTime[1].split(':');
                    var date_parsed = Date.UTC(parseInt(dateParts[2]), parseInt(dateParts[1]) - 1, parseInt(dateParts[0]), parseInt(timeParts[0]), parseInt(timeParts[1]));
                    // console.log(date_parsed) //
                    chart_data.push([date_parsed,parseInt(items[1])]);
                })
                // console.log(chart_data)
                var chart = new Highcharts.stockChart(options);
            });

            // Highcharts.setOptions({ global: { useUTC: false } });

			$('tr').click(function() {
				var chart = $('#container').highcharts(), series = chart.series[0];
        		chart.series[0].setData([]);
				var loading = $.get('/static/'+$(this).find('td').text(), function(data) {
                	var lines = data.split('\n').slice(0,-1);
                	// console.log(lines.slice(0,-1));
                	$.each(lines, function(lineNo, line) {
                    	var items = line.split(',');
                    	var dateAndTime = items[0].split(' ');
                    	var dateParts = dateAndTime[0].split('.');    
                    	var timeParts = dateAndTime[1].split(':');
                    	var date_parsed = Date.UTC(parseInt(dateParts[2]), parseInt(dateParts[1]) - 1, parseInt(dateParts[0]), parseInt(timeParts[0]), parseInt(timeParts[1]));
						chart.series[0].addPoint([date_parsed,parseInt(items[1])], true, false);
                	})
            	});
    		});
        });

    </script>
</head>
<body>

    <!-- <h1>Flask-SocketIO Test</h1> -->
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>

	<div id="container" style="height: 600px; width: 1200px"></div>
	<br>
    <!--<input type="text" name="cvs_file" id="csv_file" placeholder="cvs_file">
	<input type="button" id="add_chart" value="add chart"/>-->

    <div id="csv-table-wrapper">
        <div id="csv-table-scroll">
            <table id="csv-table">
                <tbody id="csv-table-tbody">
                    <tr><th id="th-csv-table">Load file</th></tr>
                    {% for n in list_of_csv %}
                    <tr><td id="csv-row">{{n}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 

    <div id="schedule-table-wrapper">
        <div id="schedule-table-scroll">
            <table id="schedule-table">
                <tbody id="schedule-table-tbody">
                    <tr><th id="th-schedule-table">Schedule</th></tr>
                    {% for n in schedule_list %}
                    <tr><td id="schedule-row">{{n}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 	
    <h2>Send:</h2>

    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    
	<h2>Received:</h2>
    <div id="log"></div>


</body>
</html>
